<!DOCTYPE html>
<html>


  <h1>Today</h1>
  <% d=DateTime.now%>
  <% year=d.year%>
  <% month="January" if d.month=1%>
  <% month="February" if d.month=2%>
  <% month="March" if d.month=3%>
  <% month="April" if d.month=4%>
  <% month="May" if d.month=5%>
  <% month="June" if d.month=6%>
  <% month="July" if d.month=7%>
  <% month="August" if d.month=8%>
  <% month="September" if d.month=9%>
  <% month="October" if d.month=10%>
  <% month="November" if d.month=11%>
  <% month="December" if d.month=12%>
  <p>The date is <%=month%></p>


</html>
