<!DOCTYPE html>
<html>


  <h1>Today</h1>
  <% d=DateTime.now%>
  <% year=d.year%>
  <% month="January" if d.month=1%>
  <% month="February" elsif d.month=2%>
  <% month="March" elsif d.month=3%>
  <% month="April" elsif d.month=4%>
  <% month="May" elsif d.month=5%>
  <% month="June" elsif d.month=6%>
  <% month="July" elsif d.month=7%>
  <% month="August" elsif d.month=8%>
  <% month="September" elsif d.month=9%>
  <% month="October" elsif d.month=10%>
  <% month="November" elsif d.month=11%>
  <% month="December" elsif d.month=12%>
  <p>The date is <%=month%></p>


</html>
