<!DOCTYPE html>
<html>


  <h1>Today</h1>
  <% d=DateTime.now%>
  <% year=d.year%>
  <% month="January" if d.month=1%>
  <% month="February" sif d.month=2%>
  <% month="March" sif d.month=3%>
  <% month="April" sif d.month=4%>
  <% month="May" sif d.month=5%>
  <% month="June" sif d.month=6%>
  <% month="July" sif d.month=7%>
  <% month="August" sif d.month=8%>
  <% month="September" sif d.month=9%>
  <% month="October" sif d.month=10%>
  <% month="November" sif d.month=11%>
  <% month="December" sif d.month=12%>
  <p>The date is <%=month%></p>


</html>
